.BorderBottomInput {
    .input {
        border: none;
        border-bottom: 1px solid;
        font-size: 1.5em;
    
        &:focus {
            outline: none;
        }
    }
    ::placeholder {
        font-weight: bold;
        color: #ddd;
    }
}