body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-size: 12px;
}
#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

a {
  text-decoration-line: none
}
.title-vs-btn {
  position: absolute;
  top: 66px;
  left: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  .title {
    font-weight: bold;
    text-transform: capitalize;
    cursor: pointer;
    color: #111;
  }
  .button-text {
    padding: 0 15px;
    border-radius: 10px;
    font-weight: bold;
    text-transform: uppercase;
  }
  .my-button {
    top: 66px;
    left: 70px;
    background: linear-gradient(120deg, #FFC107, #FF9800);
    color: #ffffff;
    border-radius: 50%;
    width: 31px;
    height: 31px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 4px 5px #00000024;
    transition: all ease-in 0.2s;

    &[disabled] {
      cursor: not-allowed;
    }
    &:hover {
      transform: scale(1.1);
      filter: brightness(1.09);
      transition: all ease-in 0.2s;
    }
  }
}


button {
  border: none;
}

// .my-button {
//   position: absolute;
//   top: 66px;
//   left: 70px;
//   background: linear-gradient(120deg, #FFC107, #FF9800);
//   color: #ffffff;
//   border-radius: 50%;
//   width: 31px;
//   height: 31px;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   cursor: pointer;
//   box-shadow: 0 4px 5px #00000024;
//   &[disabled] {
//     cursor: not-allowed;
//   }
// }
.add {

}

.active-btn {
  background-color: #FEC010;
}

.input-field {
  display: flex;
  margin-top: 15px;
  margin-left: 15px;
  flex-wrap: wrap;

  >.label {
    font-weight: 500;
    flex-basis: 200px;
  }

  >.input {
    padding: 5px;
    border-radius: 2px;
    box-shadow: none;
    border: 1px solid #ccc;
    flex: 1;
  }

  >.error {
    flex-basis: 100%;
    color: #FF5722;
    margin-top: 3px;
  }

  .checkbox {
    flex: unset;
  }
}

.info-container {
  display: flex;
  flex-direction: column;

  .info-row {
    display: flex;
    width: 100%;
    margin-top: 10px;

    .field {
      flex: 1;
      max-width: 35%;
      margin-right: 5px;
    }
    .value {

    }
  }
}

.uppercase {
  text-transform: uppercase;
}

.MuiCircularProgress-colorPrimary {
  color: #FF9800 !important;
}
.slim-scroller ::-webkit-scrollbar {
  background: #fff0 !important;
  width     : 5px;
}

.slim-scroller ::-webkit-scrollbar-thumb {
  background   : #b7bac357 !important;
  border-radius: 10px;
}
.item-wrap {
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 250px;
  background: #fff;
  margin-right: 40px;
  margin-bottom: 40px;
  border-radius: 20px;
  // box-shadow: 0px 12px 20px #0000000f;
  &>span {
    margin-bottom: 20px;
    font-weight: bold;
  }
  &>div {
    .input {
      border: none;
      width: 100%;
      height: 40px;
      border-bottom: 1px solid #eaeaea;
      background: none;
    }
  }
}
.input {

  &:focus {
      outline: none;
  }
}
::placeholder {
  font-weight: bold;
  color: #ddd;
}
.error{
  color: #FF5722;
  margin-top: 20px;
}
.MuiInputBase-root {
  font-size: 12px !important;
}
