.modal-center {
    top: 0;
    animation: drop-dialog 0.3s ease;
}

.modal-background {
    position: fixed; /* Sit on top of the page content */
    align-items: center;
    justify-content: center;
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #c1c1c178; /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}

.CenteredModal {
    .modal-layer {
        display: flex;
        align-items: center;
        overflow: hidden;
        width: 400px;
        background: #fff;
        box-shadow: 0 0 30px #00000014;
        border-radius: 10px;
        padding: 40px;
        position: relative;
    }
    .content-modal {
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    .header {
        font-size: 120%;
        font-weight: bold;
        padding: 30px;
        border-bottom: 1px solid #E9EEF2;
    }
    .footer {
        display: flex;
        padding-top: 10px;
        justify-content: flex-end;
    }
}
@keyframes drop-dialog {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}