.modal-center {
    top: 0;
    animation: drop-dialog 0.3s ease;
}

.modal-background {
    position: fixed; /* Sit on top of the page content */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.1); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}

.CenteredModal {
    .modal-layer {
        display: flex;
        overflow: hidden;
        flex-direction: column;
        width: 600px;
        background: #fff;
        box-shadow: 0 0 30px #00000014;
        border-radius: 10px;
    }

    .header {
        font-size: 120%;
        font-weight: bold;
        padding: 30px;
        border-bottom: 1px solid #E9EEF2;
    }
    .footer {
        flex-basis: 60px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        border-top: 1px solid #E9EEF2;
        padding-top: 10px;
    }
}
@keyframes drop-dialog {
    0% {
        transform: translateY(-500px);
    }

    100% {
        transform: translateY(0);
    }
}