.SettingPage {
    .fieldname {
        width: 20%;
    }
    .fieldrow {
        display: flex;
        margin-top: 30px;
    }
    .fieldinput {
      flex: 1;
    }


    .field-container {
        display: flex;
        overflow: auto;
        flex: 1;
        padding-bottom: 20px;
        &>div {
            flex: 1;
        }
    }

}
